
.download-button {
  background-image: linear-gradient(to left , #CD632F 0%, #D44127 51%, #CD632F 100%);
   transition: 0.5s;
   background-size: 200% auto;
   border-radius: 2px;
   color: white;
   border: transparent;
   padding: 5px 10px 5px 10px;
   width: fit-content;
   flex-wrap: nowrap;
 }

 .download-button:hover {
   background-position: right ;
   color: white;
   border: transparent;
   cursor: pointer;
 }