@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --brand-background-color: #14151a;
  --brand-foreground-color: #161b22;
  --brand-text-grey: #8a8f98;
  --brand-red: #e63022;
  --brand-magenta: #ee0979;
  --brand-orange: #ff6a00;
  --brand-magenta: #ee0979;
  --brand-orange: #ff6a00;
  --brand-main-gradient: linear-gradient(
    45deg,
    #e63022d9,
    #ee0979d9,
    #ff6a00d9
  );
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
