@import '~antd/dist/antd.css';

#title {
    font-weight: bold;
    font-size: 6vw;
    text-align: left;
    margin: 0px;
}

#motto {
    font-size: 1vw;
    text-align: left;
    margin: 0px;
    margin-left: 10px;
}

.download {
    margin: 5px;
    margin-left: 15px;
}