:root {
  --width: 100vw;
  --full-width: 100vw;
  --angle: -11deg;
  --magic-number: 0.09719;
  --skew-padding: calc(var(--width) * var(--magic-number));
  --clip-padding: calc(var(--full-width) * var(--magic-number));
  --gradient-start: #cd632f;
  --gradient-mid-1: #873816;
  --gradient-mid-2: #60150a;
  --gradient-end: #da2622;
}

.banner_first_layout{
  width: 100%;
  height: 90vh;
  background: white;
  position: relative;
  overflow: hidden;
  border-bottom: 0px;
}

.banner_gradient_skew{
  width: 100%;
  height: 75vh;
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  -webkit-animation: BackgroundGradient 10s ease infinite;
  -moz-animation: BackgroundGradient 10s ease infinite;
  -o-animation: BackgroundGradient 10s ease infinite;
  animation: BackgroundGradient 10s ease infinite;
  position: absolute;
  overflow:hidden;
  background-size: 400% 400%;
}

.banner_gradient_skew::before{
  content:'';
  position:absolute;
  background: white;
  top:0; right:0;
  width:100%; height:100%;
  overflow: hidden;

  -webkit-transform-origin:100% 100%;
  -ms-transform-origin:100% 100%;
  transform-origin:100% 100%;
  
  -webkit-transform:skew(-80deg, 0);
  -ms-transform:skew(-80deg, 0);
  transform:skew(-80deg, 0);
}

.banner_header{
  background:transparent;
  color: black;
}

@-webkit-keyframes BackgroundGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes BackgroundGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes BackgroundGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.banner_logo {
  box-shadow: 0px 0px 1px 1px;
}

.banner_menu {
  background: transparent;
  color: black;
  border-bottom: 0;
}

.banner_launch-title {
  color: black;
}

.banner_launch-date {
  color: black;
  margin-left: 4px;
}

.banner_content {
  margin-top: 15vh;
}

.banner_app-name {
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}

.banner_subtext {
  font-size: 16px;
  margin-bottom: 20px;
}



